/*todo, make text unselectable for control panel and bubble chart (cosmetic)*/

* {
    font-family: "Source Sans Pro", sans-serif;
}

.control_panel {
    /*position: absolute;*/
    background-color: blue;
    border: 10px solid black;
}

html,
body {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #2a2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fdf1e7;
    /*margin: none;*/
}

svg {
    background-color: #305555;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    /*border-radius: 5px; */
    padding: 10px;
    border-radius: 5px;
}

#us-map {
    min-height: 600px;
    min-width: 950px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
    z-index: 10;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.geo-path {
    stroke: #575657;
}

g {
    color: #fdf1e7;
}

#tooltip {
    visibility: hidden;
    height: auto;
    width: auto;
    margin-top: 2px;
    color: #fdf1e7;
    font-size: 24px;
    margin-bottom: 5px;
}

#legend {
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#chart-legend {
 display: flex;
    fill: beige;
}

#title {
    font-size: 28px;
    color: #fdf1e7;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description a {
    text-decoration: none;
    color: #fdf1e7;
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    width: 100%;
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.circle-hover {
    border: 2px solid black;
}

axis text {
    font-size: .7rem;
    fill: #6b6b6b;
}

.domain, .axis .tick line {
    stroke: #888;
}

.tick text {
    font-size: 15px;
}

rect {
    shape-rendering: crispEdges;
}

.Minor {
    mask: url(#minor-mask)
}

/*.Fatal rect {*/
/*    mask: url(#fatal-mask)*/
/*}*/

.Serious {
    mask: url(#serious-mask)
}

/* Flight Phase Container */
#flight-phase-container {
    position: relative;
    display:flex;
    flex-direction: column;
    flex:1;
    margin-top: 50px;
    align-items: center;

    width: 100%;
}

#flight-phase {
    position: absolute;
    height: 5000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Personal {
    fill: #db0004;
}

.Commercial {
    fill: #0700db;
}

#flight-phase svg {
    background-color: transparent;
}

#flight-scroll{
    position: sticky;
    z-index: -1;
    width: 100%;
}

#flight-scroll .scroll-stop:first-child {
    height: 750px;
}

#flight-scroll .scroll-stop {
    height: 500px;
}

/*#flight-scroll .scroll-stop:last-child {*/
/*    height: 300px;*/
/*}*/







#summary-container {
    z-index: 2;
    height: 750px;
}

.info span#flight-phase-title{
    font-size: 2em;
    font-weight: bold;
}

svg#patterns {
    background-color: transparent;
}