* {
    font-family: "Source Sans Pro", sans-serif;
}

.control_panel {
    background-color: blue;
    border: 10px solid black;
    width: fit-content;

}

svg text {
    pointer-events: none;
}

html,

body {
    background-color: #2a2d2d;

    color: #fdf1e7;
    /*margin: none;*/
}

svg {
    background-color: #305555;
    /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
    /*border-radius: 5px; */
    border-radius: 5px;
}


/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
    z-index: 999;
    pointer-events: none;
}

.tooltip-window{
    line-height: 15px;
    background-color: white;
    border-width: thin;
    border-style: solid;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.geo-boundary-path {
    stroke: #575657;
}

g {
    color: #fdf1e7;
}


.switchView{
    width: 100px;
    height: auto;
    alignment: left;
}

#legend {
    color: rgb(56, 58, 74);
    font-size: 18px;
    text-align: center;
    min-height: 150px;
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#title {
    font-size: 28px;
    color: #fdf1e7;
    text-transform: uppercase;
}

#description a {
    text-decoration: none;
    color: #fdf1e7;
    text-align: center;
}

.node-detail:hover{
    cursor: pointer;
}

.node:hover circle {
    stroke: black;
    stroke-width: 3px;
    cursor: pointer;
}


axis text {
    font-size: .7rem;
    fill: #6b6b6b;
}

.domain, .axis .tick line {
    stroke: #888;
}


rect {
    shape-rendering: crispEdges;
}

.Minor rect {
    fill: coral;
}

.Fatal rect {
    fill: black;
}

.Serious rect {
    fill: darkred;
}


#overview{
    float: left;
    width: fit-content;
    height: fit-content;
}

#detail{
    float: right;
    width: fit-content;
    height: fit-content;

}


#view1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#views {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

